@page "/create-recipe"
@using System.Net.Http
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@inject NavigationManager Nav
@inject HttpClient http
@inject IJSRuntime JSRuntime
@inject RecipeStore RecipeStore
@inject IRecipeService RecipeService
@inject GraphServiceClient GraphServiceClient
@attribute [Authorize]

<h1 class="taupe text-lg-center">Créer une nouvelle recette</h1>
<div class="row">
    <PopMessage message="@errorMessage"/>
</div>

<EditForm Model="@recipe" OnValidSubmit="@SendRecipeToApi">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="d-flex align-items-center justify-content-center pb-4">
        <button type="submit"
                disabled="@(!IsValid)"
                class="btn blanc bg-taupe rounded-pill">@(isLoading ? "Création en cours..." : "Créer la recette")
    </button>
    </div>
    <div class="row">
        <div class="mb-3 col-lg-6 col-md-6 col-sm-12">
            <label for="title" class="form-label taupe">Titre</label>
            <InputText class="form-control" id="title" @bind-Value="recipe.Title" />
            <ValidationMessage For="@(() => recipe.Title)" />
        </div>
        <div class="mb-3  col-lg-6 col-md-6 col-sm-12">
            <label for="file" class="form-label taupe">Photo de votre recette</label>
            <InputFile class="form-control" id="file"
            OnChange="@HandleFileChange" />
            <ValidationMessage For="@(() => recipe.File)" />
        </div>
    </div>

    <div class=" row mb-3 ">
        <label for="description" class="form-label taupe">Description</label>
        <Editor Field="() => recipe.Description"
                ApiKey="mgnp2n74430ofn6kb0ud75ephti6soe7yp4vugf0tfnw1k5a"
                JsConfSrc="sample"
                @bind-Value=recipe.Description />
        <ValidationMessage For="() => recipe.Description" />
    </div>
</EditForm>

@code {
    private CreateRecipeModel recipe = new();
    User? user;
    private bool isLoading = false;
    string errorMessage = string.Empty;

    private bool IsValid => !string.IsNullOrEmpty(recipe.Title)
        && !string.IsNullOrEmpty(recipe.Description)
        && recipe.File != null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private async Task SendRecipeToApi()
    {
        recipe.UserName = user?.DisplayName != null ? user?.DisplayName : user?.Mail;
        isLoading = true;
        var recipeDb = await RecipeService.CreateRecipe(recipe);
        isLoading = false;
        if (recipeDb.Id is not null)
        {
            RecipeStore.RecipesListState.Add(recipeDb);
            Nav.NavigateTo("/");
        }
        else
            errorMessage = "Echec de création de la recette";
    
    }

    public void Dispose()
    {
        RecipeStore.OnStateChange -= StateHasChanged;
    }


    private void HandleFileChange(InputFileChangeEventArgs e)
    {
        recipe.File = e.File;
    }
}


